body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #20cc20;
}

section {
    width: 800px;
    background-color: #ffffff;
    border-radius: 10px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

article {
    padding: 10px;
}

textarea {
    resize: none;
}

.write-message {
    text-align: center;
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.inputbutton {
    margin: 2px;
}
